.navbar {
    padding: 2rem 4rem;
    font-size: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__search {
    padding: 5px 10px;
    max-width: 568px;
    border-radius: 12px;
    background-color: var(--white2);
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.navbar__search-button {
    border: none;
    outline: none;
    background-color: var(--white2);
    cursor: pointer;
}

.navbar__search-query {
    flex: 1;
    font-size: 1rem;
    background-color: var(--white2);
    border: none;
    outline: none;
}

.navbar__right-container {
    display: flex;
    width: 264px;
    justify-content: space-between;
    align-items: center;
}

.navbar__right--default {
    margin: 0 0.25rem;
    transition: all 0.2s ease;
}
.navbar__right--default:hover {
    color: var(--primary-d);
}

.navbar__sign-up {
    width: 80px;
    height: 40px;
    background-color: var(--primary-d);
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__sign-up:hover {
    color: var(--white2);
}

.navbar__right--icon {
    font-size: 1.25rem;
}

.navbar__menu-container {
    display: none;
}

.navbar__menu {
    background-color: var(--white2);
    padding: 10px 10px;
    position: absolute;
    top: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1050px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 40px;
    }
}

@media screen and (max-width: 750px) {
    .navbar__right-container {
        display: none;
    }
    .navbar__menu-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }
}