* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: var(--font-family);
  background-color: var(--white1);
  color: var(--black2);
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black3);
  border-radius: 25px;
}