/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* global variables */
:root {
  --font-family: 'Barlow Condensed', 'Manrope', sans-serif;

  --primary-d: #0BC2E3;
  --primary-e: #0DFDE0;

  --white1: #FFFFFF;
  --white2: #F0FAFF;

  --black1: #212324;
  --black2: #36393A;
  --black3: #36393a5e;
}
